* {margin:0;padding:0}
body{background: url("images/body_bg.jpg") no-repeat scroll 0 0 / cover  transparent;
color: #555555;
font-family: arial;
font-size: 12px;
line-height: 20px;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;margin-bottom:5px;font-family: arial, serif;}
input[type=text],input[type=password],input[type=email], textarea{}
p {font-family:arial, serif;}
a {color:#666}
a, a:hover {text-decoration:none}
.fix {overflow:hidden}
.floatleft {float:left}
.floatright {float:right}

.main {background: none repeat scroll 0 0 #FFFFFF;
border-radius: 11px 11px 11px 11px;
display: block;
margin: 25px auto;
width: 966px;}
.header_area {}
.header {margin-bottom: 22px;}
.header_left {padding: 32px 32px 0;}
.header_left h2{background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("images/logo.png");
background-origin: padding-box;
background-position: left center;
background-repeat: no-repeat;
font-size: 48px;
height: 49px;
margin-top: -10px;
padding-left: 58px;
padding-top: 23px;color:#000;font-family:'webfontbold', arial}
.header_left p{font-size: 17px;
letter-spacing: 2px;
margin-left: 58px;
margin-top: -23px;}
.header_right {}
#contact_number {overflow:hidden;float:right;background: url("images/top_shadow.png") no-repeat scroll 0 0 transparent;
padding-bottom: 15px;
text-align: right;
width: 222px;}
#contact_number p{background: url("images/phone.png") no-repeat scroll left center transparent;
color: #DADADA;
font-size: 16px;
font-weight: bold;
letter-spacing: 2px;
margin-left: 44px;
margin-top: 4px;
padding-bottom: 5px;
padding-left: 16px;
text-shadow: 1px 1px 1px #555555;
width: 140px;}
.main_menu {font-weight: bold;
margin-top: 58px;}
.main_menu ul{margin:0;padding:0;list-style:none}
.main_menu ul li{padding:3px 10px;float:left}
.main_menu ul li a{color: #808080;
font-size: 12px;
margin-left: 12px;
padding: 6px 17px;
text-transform: uppercase;}
.main_menu ul li a:hover,#current{background: url("images/menu_hover.png") repeat scroll 0 0 transparent;
text-decoration: none;border-radius:5px;color:#fff;border:1px solid #000;padding-top:3px;padding-bottom:3px}
.slider_area {height: 385px;}
.slider {background: url("images/slider_bg.jpg") no-repeat scroll 0 0 transparent;
height: 335px;
padding-bottom: 23px;}
.slider_text {color: #FFFFFF;
margin-left: 37px;
margin-top: 92px;}
.slider_text h2{font-family: Trebuchet MS;
font-size: 35px;
text-shadow: 3px 4px 2px #000000;padding: 14px 0;
text-transform: uppercase;}
.slider_text p{font-size:29px;text-shadow: 3px 4px 2px #000000;padding-bottom:15px}
#get_more {background: url("images/get_started.png") repeat scroll 0 0 transparent;
border-radius: 10px 10px 10px 10px;
height: 50px;
margin-top: 25px;
overflow: hidden;
padding: 0 13px 0 11px;
text-transform: uppercase;
width: 221px;}
#get_more p{background: url("images/left_arrow.png") no-repeat scroll right center transparent;
color: #BE2D3D;
font-size: 19px;
padding-right: 11px;
padding-top: 17px;
text-shadow: none;}
.slider_presantion {margin-right: 35px;
margin-top: -13px;
width: 442px;}
.slider_presantion h2{background: url("images/slider_showdown.png") no-repeat scroll 0 0 transparent;
color: #FFFFFF;
display: block;
font-size: 19px;
height: 320px;
margin-top: 54px;
overflow: hidden;
padding-bottom: 7px;
padding-left: 21px;
padding-top: 13px;font-weight:bold}
.slider_bottom {border-bottom: 2px solid #DDDDDD;
padding-bottom: 17px;
padding-left: 43px;}
.sling_product_demo {margin-right: 49px;
width: 265px;}
.sling_product_demo:last-child {margin-right:0}
.sling_product_demo h2{font-weight:bold}
.sling_product_demo p{line-height:14px}
.sling_product_demo img{float: left;
margin-right: 17px;}
.maincontent_area {border-bottom: 2px solid #C8C4C4;
margin-top: 44px;
padding-bottom: 50px;}
.maincontent {margin-left: 44px;}
.sinlge_post {margin-right: 46px;
width: 265px;}
.sinlge_post:last-child {margin-right:0}
#read_more {background: linear-gradient(to bottom, #CCCCCC 0%, #EAEAEA 0%, #D3D3D3 47%, #D8D8D8 100%, #EDEDED 100%) repeat scroll 0 0 transparent;
border: 2px solid #C8C4C4;
border-radius: 6px 6px 6px 6px;
padding: 4px 5px 3px 14px;
text-transform: uppercase;
width: 80px;margin-top:19px;margin-top:22px}
.sinlge_post h2{font-size: 25px;
font-weight: bold;
margin-bottom: 17px;}
.sinlge_post p{color: #4F4F4F;
margin-top: 9px;}
.sinlge_post ul{list-style: none outside none;
margin: 15px 0 0;
padding: 0;}
.sinlge_post ul li{background: url("images/bullet.png") no-repeat scroll left center transparent;
border-bottom: 1px dotted #666666;
margin-top: 7px;
padding-left: 15px;}
.sinlge_post ul li a{color:#0f4db6}
.support_area {margin-top:16px;border-bottom: 2px solid #DDDDDD;
margin-top: 16px;}
.support {margin-left: 40px;}
.our_feauture_link {margin-right: 56px;
width: 194px;}
.our_feauture_link h2{font-size:16px;font-weight:bold;color:#585858;margin-bottom:17px}
.our_feauture_link ul{margin:0;padding:0;list-style:none}
.our_feauture_link ul li{margin-bottom: 4px;
text-transform: capitalize;}
.our_feauture_link ul li a{}
.testimonial h3{font-size:13px;font-weight:bold;color:#000;margin-top:4px}
.testimonial {margin-right:43px;
width: 308px;}
.testimonial h2{font-size:16px;font-weight:bold;color:#585858;margin-bottom:17px}
.blog_update {width: 325px;}
.blog_update h2{font-size:16px;font-weight:bold;color:#585858;margin-bottom:12px}
.single_news_update {margin-bottom: 15px;}
.single_news_update h2{color:#0f4db6;font-weight:bold;font-size:13px;margin-bottom:3px}
.single_news_update p{line-height:14px}
.footer_area {padding: 21px 35px 24px 38px;}
.footer {}
.footer_left {font-size: 13px;}
.footer_right {}
.social_profiles {margin-right: 88px;}
.social_profiles img{height: 22px;}
.footer_logo {}

.footer_logo h2{background: url("images/footer_logo.png") no-repeat scroll left center transparent;
color: #666666;
font-family: 'webfontbold',arial;
font-size: 23px;
padding-left: 24px;}